MONGODB_URI=
JWT_SECRET=
FRONTEND_URL=https://brownie-jcv.netlify.app
GMAIL_USER=
GMAIL_APP_PASSWORD=
GOOGLE_CLIENT_ID=546187257600-25n9s1no8fvt3pqgrqlrehi0r8sqvrvs.apps.googleusercontent.com
NODE_ENV=development
